<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>
    <h1>Welcome to My Flask Website!</h1>
        <!-- Slideshow container -->
        <div class="slideshow-container">
            <img src="../static/imgs/mountains-7774999_640.jpg" class="slides fade">
            <img src="../static/imgs/river-9155147_640.jpg" class="slides fade">
            <img src="../static/imgs/winter-9168141_640.jpg" class="slides fade">
        </div>
        <script src="/static/showslides.js"></script>
    <p>This is the home page.</p>
    <a href="/about">Go to About Page</a>
</body>
</html>
